body{background:#f3f3f3;}
.container{width:990px;margin:0 auto;}
.reg{width:693px;background:#fff;padding:40px 0 0 50px;
    .reg_title{
        p{float:left;width:220px;text-align:center;font: 20px/22px "Microsoft YaHei";
            em{background:url("../img/login.png") no-repeat;display:inline-block;vertical-align:middle;width:14px;height:22px;margin-right:10px;}
            &:nth-child(1){
                em{background-position:0 -195px;}
            }
            &:nth-child(2){
                em{width:22px;background-position:-31px -195px;}
            }
        }
    }
    .reg_main{
        .phone_reg{padding:30px 0 40px 80px;margin-top:20px;
            div{overflow:hidden;margin-bottom:10px;
                &.yzm1{width:105px;float:left;padding-right:25px;border: 1px solid #ddd;position:relative;
                    i{width:20px;height:20px;position:absolute;right:7px;top:50%;transform:translate(0,-50%);
                        &.error{width:20px;height:20px;background:url("../img/login.png") no-repeat -36px -33px;}
                        &.correct1{width:20px;height:20px;background:url("../img/login.png") no-repeat -5px -33px;}
                    }
                }
                &.xieyi{padding-left:100px;}
                span{float:left;font: 16px/38px "Microsoft YaHei";color: #666;width: 100px;text-align: right;}
                .z1,.z2,.z3,.z4,.z5{float:left;height: 28px; padding: 5px 0;font: 14px/28px "Microsoft YaHei";    border: none;width: 230px;outline: 0; border: 1px solid #ddd; padding: 5px 10px;color: #ccc;}
                .z5{border:0 none;width:90px;}
                .z6{float:left;}
                .z7{height:46px;width: 250px;border: 1px solid #e35342;background: #f65;color: #fff;font: 24px/46px "Microsoft YaHei";cursor: pointer;text-align: center;line-height:46px;margin:25px 0 0 100px;outline:none;}
                p{float:left;margin:5px 0 0 10px;
                    &.showyzm{color:white;background:#ddd;text-align:center;width:70px;height:35px;line-height:35px;font-size:16px;}
                    &.remind{width:210px;height:25px;line-height:25px;padding-left:7px;background:#ffebec;border:1px solid #ffbdbf;color:#f65;}
                    &.correct{
                        width:30px;height:30px;background:url("../img/login.png") no-repeat -5px -33px;
                    }

                }
                a{
                    &.huan{margin-left:30px;cursor:pointer;
                        &:hover{text-decoration:underline;color:#e53;}
                    }
                    &.xy{color:blue}
                }
                em{font-style:normal;}
            }
        }
    }
}