.container { width: 990px; }

body { background: #f3f3f3; }

.buycar { width: 100%; }

.buycar .car_title { background: #efefef; height: 35px; }

.buycar .car_title .allchose { display: block; float: left; height: 35px; line-height: 35px; padding-left: 15px; }

.buycar .car_title p { float: left; height: 35px; line-height: 35px; text-align: center; color: #666; }

.buycar .car_title p.goodsname { width: 300px; }

.buycar .car_title p.weight { width: 50px; }

.buycar .car_title p.price { width: 80px; }

.buycar .car_title p.youhui { width: 80px; }

.buycar .car_title p.qty { width: 80px; }

.buycar .car_title p.xiaoji { width: 200px; }

.buycar .car_title p.do { width: 130px; border-right: 1px solid #ddd; }

.buycar .carlist { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }

.buycar .carlist li { height: 110px; background: #fff; padding: 10px 0; box-sizing: border-box; border-top: 1px solid #ccc; }

.buycar .carlist li .chose { float: left; width: 20px; text-align: center; margin-top: 30px; }

.buycar .carlist li .goods_img { float: left; border: 1px solid #ccc; }

.buycar .carlist li div { float: left; color: #333; }

.buycar .carlist li div.goods_name { width: 230px; padding-left: 8px; }

.buycar .carlist li div.goods_name a { color: #333; }

.buycar .carlist li div.goods_name a:hover { color: #e53; }

.buycar .carlist li div.goods_weight { width: 80px; text-align: center; }

.buycar .carlist li div.goods_youhui { width: 90px; height: 90px; }

.buycar .carlist li div.goods_price { width: 50px; text-align: center; color: #e53; }

.buycar .carlist li div.goods_qty { width: 100px; }

.buycar .carlist li div.goods_qty span { display: inline-block; width: 20px; height: 20px; border: 1px solid #ccc; float: left; text-align: center; }

.buycar .carlist li div.goods_qty .goodsqty { width: 35px; border: 1px solid #ccc; float: left; height: 18px; text-align: center; }

.buycar .carlist li div.goods_xiaoji { width: 190px; text-align: center; color: #e53; font-weight: bold; }

.buycar .carlist li div.goods_do { width: 120px; }

.buycar .carlist li div.goods_do span { display: block; text-align: center; color: #999; cursor: pointer; }

.buycar .carlist li div.goods_do span:hover { color: #e53; text-decoration: underline; }
