.header .toolbar { width: 100%; border-bottom: 1px solid #ddd; height: 36px; background-color: white; }

.header .toolbar .left .shoucang { padding-right: 15px; font-size: 14px; color: #666; }

.header .toolbar .left .shoucang em { display: inline-block; vertical-align: middle; width: 14px; height: 14px; background: url("../img/toolbar.png") no-repeat 0 0; margin-right: 4px; line-height: 36px; }

.header .toolbar .left .shoucang:hover { color: #FF6655; }

.header .toolbar .left .market { padding: 0 10px; color: #FF6655; font-weight: bold; position: relative; display: inline-block; height: 36px; line-height: 36px; font-size: 14px; }

.header .toolbar .left .market em, .header .toolbar .left .market i { display: inline-block; vertical-align: middle; width: 9px; height: 15px; background: url("../img/toolbar.png") no-repeat -31px 0; margin-right: 4px; }

.header .toolbar .left .market i { width: 7px; height: 4px; background-position: 0 -61px; margin-left: 15px; }

.header .toolbar .left .market .region { width: 450px; border: 1px solid #ccc; position: absolute; top: 36px; left: -1px; line-height: 32px; background: white; display: none; z-index: 99; }

.header .toolbar .left .market .region.none { display: block; }

.header .toolbar .left .market .region .check { font-weight: normal; padding-top: 10px; border-bottom: 1px solid #ddd; }

.header .toolbar .left .market .region .check:nth-child(4) { border-bottom: 0 none; }

.header .toolbar .left .market .region .check dt { float: left; color: #bbb; padding-left: 15px; }

.header .toolbar .left .market .region .check dd { float: left; margin-right: 30px; padding-bottom: 5px; }

.header .toolbar .left .market .region .check dd a { padding: 0 5px; color: #666; }

.header .toolbar .left .market .region .check dd a:hover { color: #FF6655; }

.header .toolbar .left .market .region .check dd a.shanghai { background: #FF6655; color: white; font-weight: bold; }

.header .toolbar .left .market .region .check dd.six { padding-left: 85px; }

.header .toolbar .right ul .tr { float: left; padding: 0 10px; margin: 10px 0; line-height: 16px; border-right: 1px solid #ddd; position: relative; }

.header .toolbar .right ul .tr.home { border-right: 1px solid #fff; }

.header .toolbar .right ul .tr.home img { float: left; padding-right: 10px; padding-top: 2px; }

.header .toolbar .right ul .tr.show { height: 36px; margin: 0 0 0 -1px; border: 1px solid #ddd; line-height: 36px; border-bottom: 1px solid #fff; z-index: 99; margin-top: -1px; }

.header .toolbar .right ul .tr .tel_show { position: absolute; top: 37px; right: -1px; width: 220px; border: 1px solid #ccc; background: #fff; border-top: 1px solid #fff; display: none; padding-right: 20px; padding-bottom: 10px; }

.header .toolbar .right ul .tr .tel_show img { margin-left: 10px; float: left; padding-right: 10px; }

.header .toolbar .right ul .tr .tel_show p { font-size: 14px; color: #333; }

.header .toolbar .right ul .tr .tel_show .p2 { color: #FF6655; line-height: 18px; font-size: 14px; margin-top: -6px; }

.header .toolbar .right ul .tr .tel_show a { display: block; height: 30px; width: 100px; float: left; border-radius: 5px; margin-top: 1px; background: url("./img/foot.png"); }

.header .toolbar .right ul .tr .tel_show a.ip { background-position: -280px -62px; }

.header .toolbar .right ul .tr .tel_show a.ad { background-position: -393px -62px; }

.header .toolbar .right ul .tr .tel_show a.ip:hover { background-position: -280px -97px; }

.header .toolbar .right ul .tr .tel_show a.ad:hover { background-position: -393px -97px; }

.header .toolbar .right ul .tr .gz_show { position: absolute; top: 37px; right: -1px; width: 201px; border: 1px solid #ccc; background: #fff; border-top: 1px solid #fff; display: none; }

.header .toolbar .right ul .tr .gz_show div { width: 90px; float: left; padding-left: 10px; }

.header .toolbar .right ul .tr .gz_show div p { line-height: 22px; }

.header .toolbar .right ul .tr .gz_show div.gz1 { border-right: 1px dashed #ddd; }

.header .toolbar .right ul .tr .gz_show div.gz1 .boqii { color: #FF6655; font-size: 14px; }

.header .toolbar .right ul .tr .gz_show div.gz2 a { display: block; line-height: 22px; padding-bottom: 10px; color: #FF6655; }

.header .toolbar .right ul .tr .gz_show div.gz2 a:hover { text-decoration: underline; }

.header .toolbar .right ul .tr .gz_show div.gz2 a i { display: inline-block; height: 14px; width: 16px; vertical-align: middle; background: url("../css/img/foot.png") no-repeat -283px -128px; margin-left: 5px; }

.header .toolbar .right ul .tr .home_show { position: absolute; top: 37px; right: -1px; width: 101px; border: 1px solid #ccc; background: #fff; border-top: 1px solid #fff; display: none; }

.header .toolbar .right ul .tr .home_show ul li { margin: 0; line-height: 25px; border-bottom: 1px dashed #ddd; }

.header .toolbar .right ul .tr .home_show ul li:nth-child(1) i { background-position: -20px -45px; }

.header .toolbar .right ul .tr .home_show ul li:nth-child(2) i { background-position: -40px -45px; }

.header .toolbar .right ul .tr .home_show ul li:nth-child(3) { border-bottom: 0 none; }

.header .toolbar .right ul .tr .home_show ul li:nth-child(3) i { background-position: -60px -45px; }

.header .toolbar .right ul .tr .home_show ul li i { display: inline-block; width: 20px; height: 14px; vertical-align: middle; background: url("../img/toolbar.png") no-repeat; margin-left: 10px; }

.header .toolbar .right ul .tr .home_show ul li a { padding-left: 8px; }

.header .toolbar .right ul .tr a { color: #333; font-size: 14px; }

.header .toolbar .right ul .tr a:hover { color: #FF6655; text-decoration: underline; }

.header1 { width: 100%; padding: 12px 0; }

.header1 .container { position: relative; }

.header1 .app { margin-top: 10px; }

.header1 .search { float: left; padding-top: 35px; padding-left: 75px; }

.header1 .search input { width: 500px; height: 32px; border: 2px solid #FF6655; outline: none; float: left; padding-left: 10px; font-size: 16px; }

.header1 .search ::-webkit-input-placeholder { /* WebKit browsers */ color: #999; }

.header1 .search button { height: 38px; background: #FF6655; width: 90px; border: 2px solid #FF6655; float: left; color: white; font-size: 20px; outline: none; cursor: pointer; }

.header1 .h_search { position: absolute; left: 315px; top: 77px; font-size: 12px; color: #999999; }

.header1 .h_search a { margin: 0 3px; color: #999999; font-size: 12px; }

.header1 .h_search a:hover { color: #FF6655; text-decoration: underline; }

.header1 .adv2 { padding-top: 30px; }

.nav { width: 100%; background: #e53; }

.nav h3 { width: 174px; height: 26px; background: #c20; padding: 10px 8px 0px 10px; font-size: 16px; font-weight: normal; position: relative; }

.nav h3 a.fenlei { color: #fff; margin-top: 6px; display: block; float: left; line-height: 5px; }

.nav h3 i { display: block; width: 16px; height: 10px; background: url("../img/toolbar.png") no-repeat 0 -21px; float: right; margin-top: 4px; }

.nav h3 .menu { width: 190px; position: absolute; top: 36px; left: 0; border: 1px solid #c20; display: none; z-index: 500; background: white; }

.nav h3 .menu .menu_title { padding: 12px 12px 0 12px; }

.nav h3 .menu .menu_title span { width: 24px; height: 24px; background: url("../img/icon.png") no-repeat -195px -171px; float: left; }

.nav h3 .menu .menu_title em { width: 6px; height: 9px; background: url("../img/icon.png") no-repeat -195px -222px; vertical-align: middle; float: right; margin-top: 10px; }

.nav h3 .menu .menu_title a { color: #333; font: 16px/18px "Microsoft YaHei"; padding-left: 15px; }

.nav h3 .menu .menu_title a:hover { color: #FF6655; text-decoration: underline; }

.nav h3 .menu .menu_detail { padding: 7px 12px; border-bottom: 1px solid #ddd; }

.nav h3 .menu .menu_detail a { float: left; width: 45px; margin-right: 7px; color: #666; font: 14px/16px "Microsoft YaHei"; margin-bottom: 5px; }

.nav h3 .menu .menu_detail a:hover { color: #FF6655; text-decoration: underline; }

.nav h3 .menu .list_into { position: absolute; width: 612px; padding: 5px 20px; min-height: 440px; border: 2px solid #cf2d09; top: -1px; left: 189px; z-index: 199; display: none; z-index: 444; background: white; }

.nav h3 .menu .list_into dl { border-bottom: 1px dashed #ccc; padding: 6px 0; }

.nav h3 .menu .list_into dl dt { width: 120px; text-align: left; float: left; }

.nav h3 .menu .list_into dl dt a { font: bold 14px/16px "Microsoft YaHei"; color: #f50; display: block; line-height: 22px; }

.nav h3 .menu .list_into dl dt a:hover { text-decoration: underline; }

.nav h3 .menu .list_into dl dd { float: left; }

.nav h3 .menu .list_into dl dd a { color: #666; padding: 0 5px; font-size: 14px; border-left: 1px solid #ccc; display: block; height: 14px; line-height: 14px; margin-top: 5px; }

.nav h3 .menu .list_into dl dd a:hover { color: #FF6655; text-decoration: underline; }

.nav .nav_list li { float: left; }

.nav .nav_list li a { display: block; height: 36px; font-size: 16px; color: #fff; padding: 0 18px; line-height: 36px; }

.nav .nav_list li a:hover { background: #9a0000; }

.nav .car { height: 28px; color: #fff; padding: 8px 17px 0 10px; font-size: 16px; background: #c20; position: relative; }

.nav .car.hovershow { border: 2px solid #cc2200; background: #fef2ee; height: 24px; }

.nav .car:hover .buybuy { color: #ee5533; }

.nav .car:hover .car_qty { color: #ee5533; }

.nav .car:hover em { background-position: -60px -21px; margin-top: -2px; }

.nav .car em { display: inline-block; width: 20px; height: 19px; background: url("../img/toolbar.png") no-repeat -30px -21px; vertical-align: top; }

.nav .car .buybuy { font-size: 16px; color: #fff; padding-right: 20px; }

.nav .car .car_qty { display: inline-block; width: 22px; height: 20px; }

.nav .car .car_detail { width: 298px; border: 2px solid #cc2200; position: absolute; top: 33px; background: #fef2ee; z-index: 991; right: -2px; display: none; }

.nav .car .car_detail .xian { border-top: 5px solid #fef2ee; position: absolute; right: 1px; display: block; width: 145px; top: -5px; z-index: 120; }

.nav .car .car_detail .nogoods { height: 70px; line-height: 70px; text-align: center; color: #999; font-size: 14px; }

.nav .car .car_detail .yiadd { height: 45px; line-height: 45px; padding-left: 10px; color: #333; font-weight: normal; font-size: 16px; }

.nav .car .car_detail .car_list { background: #fff; border-left: 1px solid #cc2200; border-right: 1px solid #cc2200; max-height: 300px; overflow: auto; }

.nav .car .car_detail .car_list li { height: 80px; border-bottom: 1px dashed #ccc; color: #666; padding: 8px; }

.nav .car .car_detail .car_list li .goodsimg { float: left; border: 1px solid #ccc; margin-right: 7px; }

.nav .car .car_detail .car_list li .qtychange { width: 20px; height: 60px; float: left; border: 1px solid #ccc; margin-right: 7px; }

.nav .car .car_detail .car_list li .qtychange span { display: block; width: 20px; height: 20px; box-sizing: border-box; line-height: 20px; text-align: center; border-bottom: 1px solid #ccc; font-size: 10px; }

.nav .car .car_detail .car_list li .qtychange span:first-child { cursor: pointer; }

.nav .car .car_detail .car_list li .qtychange span:nth-child(3) { border-bottom: 0px; cursor: pointer; }

.nav .car .car_detail .car_list li .goods_name { width: 155px; float: left; }

.nav .car .car_detail .car_list li .goods_name a { font-size: 12px; color: #666; line-height: 20px; }

.nav .car .car_detail .car_list li .goods_name a:hover { color: #ee5533; }

.nav .car .car_detail .car_list li .goods_name .price { color: #ee5533; float: left; font-size: 12px; }

.nav .car .car_detail .car_list li .goods_name .delete { float: right; color: #999; font-size: 12px; border: 0 none; cursor: pointer; background: #fff; margin-top: -4px; outline: none; }

.nav .car .car_detail .car_list li .goods_name .delete:hover { text-decoration: underline; }

.nav .car .car_detail .buycar_bottom { height: 80px; padding: 0 27px; padding-bottom: 15px; }

.nav .car .car_detail .buycar_bottom p { color: #333; font-size: 12px; padding: 15px 0; text-align: right; }

.nav .car .car_detail .buycar_bottom p a { margin-right: 10px; }

.nav .car .car_detail .buycar_bottom p a .totalqty { color: #ee5533; }

.nav .car .car_detail .buycar_bottom p .totalprice { color: #ee5533; font-weight: bold; font-size: 16px; }

.nav .car .car_detail .buycar_bottom .clear { float: right; width: 110px; height: 25px; background: #ee5533; text-align: center; }

.nav .car .car_detail .buycar_bottom .clear:hover { background: #cc2200; }

.nav .car .car_detail .buycar_bottom .clear a { color: #fff; line-height: 25px; font-size: 14px; }

.rightside { position: fixed; background: #0c0c0c; height: 100%; width: 36px; top: 0; right: 0; left: auto; z-index: 999; opacity: 0.95; }

.rightside ul { padding-top: 130px; }

.rightside ul li { border-top: 1px solid #343434; padding: 5px 0; }

.rightside ul li:nth-child(6) { border-bottom: 1px solid #343434; }

.rightside ul li:last-child { margin-top: 50px; border-bottom: 1px solid #343434; }

.rightside ul li i { display: block; background: url("../img/sbar_ico.png") no-repeat; width: 36px; height: 36px; cursor: pointer; margin: 0 auto; font-style: normal; color: #fff; line-height: 36px; text-align: center; }

.rightside ul li i.sbar_my { background-position: 0 0; }

.rightside ul li i.sbar_cat { background-position: 0 -36px; }

.rightside ul li i.sbar_nub { background-position: 0 -249px; }

.rightside ul li i.sbar_asset { background-position: 0 -72px; }

.rightside ul li i.sbar_sc { background-position: 0 -108px; }

.rightside ul li i.sbar_zx { background-position: 0 -140px; }

.rightside ul li i.sbar_app { background-position: 0 -172px; }

.rightside ul li i.sbar_top { background-position: 0 -288px; }

.rightside ul li span { color: #999999; margin: 0 10px; display: block; text-align: center; }

.rightside ul li p { color: #999; text-align: center; }

.rightside ul li:hover { background: #ee5533; }

.rightside ul li:hover span { color: #fff; }

.rightside ul li:hover p { color: #fff; }

.rightside ul li:hover .sbar_cat { background-position: -36px -36px; }

.rightside ul li:hover .sbar_asset { background-position: -36px -72px; }

.rightside ul li:hover .sbar_sc { background-position: -36px -108px; }

.rightside ul li:hover .sbar_zx { background-position: -36px -140px; }

.rightside ul li:hover .sbar_app { background-position: -36px -172px; }

.rightside ul li:hover .sbar_top { background-position: -36px -288px; }

.main { width: 100%; margin-top: 20px; }

.main .buy .buy_left { width: 400px; float: left; }

.main .buy .buy_left .showgoods { width: 360px; height: 420px; padding: 19px; border: 1px solid #e6e6e6; }

.main .buy .buy_left .showgoods .img_min { padding: 15px 30px 0 30px; }

.main .buy .buy_left .showgoods .img_min img { float: left; margin-right: 9px; border: 1px solid #f3f3f3; }

.main .buy .buy_left .showgoods .img_min img:last-child { margin-right: 0px; }

.main .buy .buy_left .showgoods .img_min img.active { border: 1px solid #e53; }

.main .buy .buy_left .share { padding: 15px 0 0 112px; width: 400px; box-sizing: border-box; }

.main .buy .buy_left .share dl dt { float: left; color: #666; margin-top: -2px; }

.main .buy .buy_left .share dl dd { float: left; height: 17px; width: 17px; background: url("../img/icons_0_16.png") no-repeat; cursor: pointer; margin-right: 5px; }

.main .buy .buy_left .share dl dd:nth-child(2) { background-position: 0 -125px; }

.main .buy .buy_left .share dl dd:nth-child(3) { background-position: 0 -104px; }

.main .buy .buy_left .share dl dd:nth-child(4) { background-position: 0 -260px; }

.main .buy .buy_left .share dl dd:nth-child(5) { background-position: 0 -208px; }

.main .buy .buy_left .share dl dd:nth-child(6) { background-position: 0 -1612px; }

.main .buy .buy_left .share dl dd:nth-child(7) { background-position: 0 0; cursor: initial; }

.main .buy .buy_left .share .more { position: relative; }

.main .buy .buy_left .share .more:hover .more_show { display: block; }

.main .buy .buy_left .share .more .more_show { position: absolute; top: -362px; left: 0; width: 220px; height: 350px; border: 1px solid #ccc; z-index: 1000; background: white; display: none; }

.main .buy .buy_left .share .more .more_show h3 { background: #f3f3f3; line-height: 30px; height: 30px; }

.main .buy .buy_left .share .more .more_show ul { padding: 5px 7px; }

.main .buy .buy_left .share .more .more_show ul li { float: left; }

.main .buy .buy_left .share .more .more_show ul li a { display: block; color: #333; height: 36.5px; width: 100px; text-align: center; line-height: 35px; }

.main .buy .buy_left .share .more .more_show ul li a:hover { background: #ddd; border-radius: 3px; color: #e53; }

.main .buy .buy_left .share .more .more_show ul li a i { display: inline-block; vertical-align: middle; width: 17px; height: 17px; background: url("../img/icons_0_16.png") no-repeat 0 -208px; }

.main .buy .buy_left .share .more .more_show p { background: #f3f3f3; }

.main .buy .buy_left .share .more .more_show p a { height: 30px; line-height: 30px; padding-right: 10px; }

.main .buy .buy_left .share .more .more_show p a:hover { color: #e53; }

.main .buy .buy_left .share .more .more_show p a i { display: inline-block; vertical-align: middle; width: 17px; height: 17px; background: url("../img/icons_0_16.png") no-repeat 0 0; margin-right: 10px; }

.main .buy .buy_main { width: 520px; margin-left: 20px; float: left; }

.main .buy .buy_main .shop_name p { font: 20px/28px "Microsoft YaHei"; color: #333; text-overflow: ellipsis; overflow: hidden; }

.main .buy .buy_main .shop_ad { font: normal 14px/16px "Microsoft YaHei"; padding: 8px 0 10px; overflow: hidden; color: #e53; }

.main .buy .buy_main .shop_price { background: #fef8f6; border-top: 1px solid #f3f3f3; padding: 0 10px 10px; font-family: Arial,"SimSun"; }

.main .buy .buy_main .shop_price p .zz { float: left; color: #666; width: 80px; text-align: left; padding-top: 8px; letter-spacing: 4px; }

.main .buy .buy_main .shop_price p:first-child { margin-top: 15px; overflow: hidden; }

.main .buy .buy_main .shop_price p:first-child .price { float: left; color: #e53; font-size: 22px; font-weight: bold; }

.main .buy .buy_main .shop_price p:nth-child(2) { padding-bottom: 15px; margin-top: 15px; }

.main .buy .buy_main .shop_price p:nth-child(2) .zz { letter-spacing: 0px; }

.main .buy .buy_main .shop_price p:nth-child(2) .del { float: left; color: #999; font-size: 14px; padding-top: 8px; }

.main .buy .buy_main .peisong { padding-left: 10px; margin-top: 15px; }

.main .buy .buy_main .peisong .zz { float: left; color: #666; width: 80px; text-align: left; padding-top: 8px; letter-spacing: 4px; }

.main .buy .buy_main .peisong .areabox { position: relative; }

.main .buy .buy_main .peisong .areabox:hover .areamore { display: block; }

.main .buy .buy_main .peisong .areabox:hover .area { border-bottom: 1px solid #fff; }

.main .buy .buy_main .peisong .areabox:hover .area em { background-position: -36px -61px; }

.main .buy .buy_main .peisong .areabox .areamore { position: absolute; z-index: 5; left: 0; top: 27px; background: #fff; width: 300px; padding: 10px; border: 1px solid #ccc; display: none; }

.main .buy .buy_main .peisong .areabox .areamore ul { overflow: hidden; }

.main .buy .buy_main .peisong .areabox .areamore ul li { float: left; padding: 3px 0; margin: 5px 4px 0; width: 50px; text-align: center; cursor: pointer; }

.main .buy .buy_main .peisong .areabox .areamore ul li:hover { background: #e53; }

.main .buy .buy_main .peisong .areabox .area { padding: 5px; cursor: pointer; border: 1px solid #ccc; position: relative; z-index: 99; }

.main .buy .buy_main .peisong .areabox .area em { float: right; background: url("../img/toolbar.png") no-repeat -22px -61px; width: 9px; height: 5px; margin-top: 7px; margin-left: 6px; }

.main .buy .buy_main .peisong .huo { float: left; color: #666; margin: 5px 0 0 20px; }

.main .buy .buy_main .peisong .quan { color: #e53; float: left; margin-top: 5px; margin-left: 3px; }

.main .buy .buy_main .taozhuang { overflow: hidden; margin-top: 15px; padding-left: 10px; }

.main .buy .buy_main .taozhuang .zz { float: left; color: #666; width: 80px; text-align: left; padding-top: 8px; letter-spacing: 13px; }

.main .buy .buy_main .taozhuang .k1, .main .buy .buy_main .taozhuang .k2 { float: left; border: 1px dashed #ccc; width: 40px; height: 30px; text-align: center; line-height: 30px; margin-right: 5px; cursor: pointer; }

.main .buy .buy_main .taozhuang .k1.active, .main .buy .buy_main .taozhuang .k2.active { border: 3px solid #e53; }

.main .buy .buy_main .shop_qty { padding-left: 10px; line-height: 24px; color: #666; margin-top: 20px; }

.main .buy .buy_main .shop_qty .zz { float: left; color: #666; width: 80px; text-align: left; padding-top: 8px; letter-spacing: 4px; }

.main .buy .buy_main .shop_qty .qt { float: left; margin: 10px 5px 0 30px; }

.main .buy .buy_main .shop_qty .qt span { float: left; width: 15px; height: 22px; border: 1px solid #ccc; text-align: center; line-height: 22px; }

.main .buy .buy_main .shop_qty .qt span.addqty1, .main .buy .buy_main .shop_qty .qt span.decqty1 { cursor: pointer; }

.main .buy .buy_main .shop_qty .qt .qty { float: left; width: 70px; height: 20px; border: 1px solid #ccc; text-align: center; font-weight: bold; }

.main .buy .buy_main .shop_car { overflow: hidden; margin-top: 15px; padding-left: 120px; }

.main .buy .buy_main .shop_car .buy { background: #e53; float: left; cursor: pointer; font: 16px/40px "Microsoft YaHei"; color: #fff; height: 40px; width: 130px; border: none; }

.main .buy .buy_main .shop_car .buy:hover { background: #c20; }

.main .buy .buy_main .shop_car .addtocar { width: 150px; height: 40px; cursor: pointer; float: left; background: url("../img/btn.png") no-repeat 0 0; margin-left: 10px; }

.main .buy .buy_main .shop_car .addtocar:hover { background-position: 0 -50px; }

.main .buy .buy_main .shop_car .sc { float: left; width: 75px; cursor: pointer; height: 16px; background: url("../img/btn.png") no-repeat -163px -12px; margin: 13px 0 0 13px; }

.main .buy .buy_main .shop_car .sc:hover { background-position: -163px -62px; }

.main .article { margin-top: 25px; }

.main .article .article_l { width: 190px; }

.main .article .article_l h1 { border-bottom: none; font-size: 16px; font-weight: normal; color: #333; padding: 10px; border: 1px solid #e6e6e6; }

.main .article .article_l .tlgoods ul { border: 1px solid #e6e6e6; border-top: 0px; padding: 10px; }

.main .article .article_l .tlgoods ul li { margin-top: 10px; }

.main .article .article_l .tlgoods ul li img { margin: 0 auto; }

.main .article .article_l .tlgoods ul li p { overflow: hidden; }

.main .article .article_l .tlgoods ul li p span:first-child { color: #e53; float: left; font-weight: bold; font-size: 14px; }

.main .article .article_l .tlgoods ul li p span:nth-child(2) { color: #999; float: right; }

.main .article .article_l .tlgoods ul li a { display: block; color: #333; margin-top: 10px; line-height: 20px; }

.main .article .article_l .tlgoods ul li a:hover { color: #e53; }

.main .article .article_l .pptj { margin-top: 10px; }

.main .article .article_l .pptj h1 { background: #fff; }

.main .article .article_l .pptj ul { border-left: 1px solid #e6e6e6; }

.main .article .article_l .pptj ul li { float: left; width: 81px; height: 36px; padding: 6px; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; }

.main .article .article_l .pptj ul li img { width: 80px; height: 36px; }

.main .article .article_r { margin-left: 10px; }

.main .article .article_r .at { width: 988px; background: #f3f3f3; border: 1px solid #ddd; }

.main .article .article_r .at.fixed { position: fixed; top: 0; left: 0; width: 100%; padding-left: 317px; z-index: 1000; }

.main .article .article_r .at .title li { float: left; height: 40px; border-right: 1px solid #ddd; }

.main .article .article_r .at .title li.active { background: #fff; color: #e53; border-top: 3px solid #e53; border-bottom: 1px solid #fff; position: relative; top: 1px; }

.main .article .article_r .at .title li a { padding: 0 20px; font: 14px/40px "Microsoft YaHei"; color: #333; cursor: pointer; }

.main .article .article_r .at .title li a span { color: #e53; }

.main .article .article_r .at .a_car { background: #e53; color: #fff; font: 16px/34px "Microsoft YaHei"; padding: 0 15px; margin: 3px 3px 0 0; display: none; }

.main .article .article_r .at .a_car.show { position: absolute; right: 433px; left: auto; display: block; }

.main .article .article_r .am { border: 1px solid #ddd; padding: 10px 20px 20px; border-top: none; width: 948px; }

.main .article .article_r .am .am_1 { width: 942px; border: 4px solid #c64e5a; }

.main .article .article_r .am .am_1 h1 { background: #c64e5a; height: 70px; line-height: 70px; font-size: 30px; text-align: center; color: #fff; }

.main .article .article_r .am .am_1 .overf .szgoods { width: 443px; padding: 10px; border: 4px solid #c2404d; }

.main .article .article_r .am .am_1 .overf .szgoods .szgoods_l { width: 280px; float: left; }

.main .article .article_r .am .am_1 .overf .szgoods .szgoods_l p:first-child { height: 30px; line-height: 30px; font-size: 18px; color: #333; overflow: hidden; }

.main .article .article_r .am .am_1 .overf .szgoods .szgoods_l p:nth-child(2) { height: 25px; line-height: 25px; font-size: 14px; color: #626262; }

.main .article .article_r .am .am_1 .overf .szgoods .szgoods_l p:nth-child(3) { color: #ee5533; font-size: 18px; line-height: 40px; margin-bottom: 10px; height: 40px; }

.main .article .article_r .am .am_1 .overf .szgoods .szgoods_l p:nth-child(3) del { color: #626262; font-size: 14px; }

.main .article .article_r .am .am_1 .overf .szgoods .szgoods_l p:nth-child(4) { width: 120px; height: 35px; line-height: 35px; background: #ee5533; color: #fff; font-size: 21px; text-align: center; border-radius: 16px; margin-left: 6px; margin-top: 15px; }

.main .article .article_r .am .am_1 .overf .szgoods .szgoods_r { float: left; }

.main .article .article_r .am .am_1 .goodslist ul li { float: left; padding: 22px 10px 10px 10px; width: 211px; height: 245px; border: 4px solid #c2404d; border-top: none; border-right: none; }

.main .article .article_r .am .am_1 .goodslist ul li:nth-child(4n) { border-right: 2px solid #c2404d; }

.main .article .article_r .am .am_1 .goodslist ul li img { margin: 0 35px 10px 35px; }

.main .article .article_r .am .am_1 .goodslist ul li .bu span { display: block; }

.main .article .article_r .am .am_1 .goodslist ul li .bu span:first-child { font-size: 14px; color: #333; height: 25px; line-height: 25px; width: 210px; overflow: hidden; }

.main .article .article_r .am .am_1 .goodslist ul li .bu .bu_b { position: relative; }

.main .article .article_r .am .am_1 .goodslist ul li .bu .bu_b span:first-child { color: #626262; }

.main .article .article_r .am .am_1 .goodslist ul li .bu .bu_b span:nth-child(2) { color: #f74942; font-size: 18px; margin-bottom: 6px; }

.main .article .article_r .am .am_1 .goodslist ul li .bu .bu_b span:nth-child(2) em { font-style: normal; font-size: 12px; text-decoration: line-through; color: #333; }

.main .article .article_r .am .am_2 { margin-top: 20px; border: 1px solid #ddd; }

.main .article .article_r .am .am_2 h1 { color: #e53; }

.main .article .article_r .am .am_2 .mt { width: 750px; margin: 15px auto; }

.main .article .article_r .am .am_3 { margin-top: 10px; padding: 20px; border: 1px solid #ddd; }

.main .article .article_r .am .am_3 h1 { color: #e53; border-bottom: 1px solid #ddd; }

.main .article .article_r .am .am_4 { margin-top: 10px; padding: 10px 20px 20px; border: 1px solid #ddd; }

.main .article .article_r .am .am_4 h1 { color: #e53; border-bottom: 1px solid #ddd; }

.main .article .article_r .am .am_4 .server dl { padding: 20px; border-bottom: 1px dashed #ccc; overflow: hidden; }

.main .article .article_r .am .am_4 .server dl dt { width: 84px; height: 84px; float: left; margin-right: 20px; background: url("../img/btn.png") no-repeat 0 -243px; }

.main .article .article_r .am .am_4 .server dl dd { padding-top: 10px; }

.main .article .article_r .am .am_4 .server dl dd.d1 { color: #ef5f3f; font: 20px/24px "Microsoft YaHei"; }

.main .article .article_r .am .am_4 .server dl dd.d2 { font: 16px/24px "Microsoft YaHei"; color: #333; }

.main .article .article_r .am .am_4 .tuihuo dl { padding: 20px; border-bottom: 1px dashed #ccc; overflow: hidden; padding-top: 35px; }

.main .article .article_r .am .am_4 .tuihuo dl dt { color: #ef5f3f; font: 20px/24px "Microsoft YaHei"; }

.main .article .article_r .am .am_4 .tuihuo dl dd { padding-top: 10px; font: 16px/24px "Microsoft YaHei"; color: #333; }

.main .article .article_r .am .am_4 .remind dl { padding: 20px; border-bottom: 1px dashed #ccc; overflow: hidden; padding-top: 35px; }

.main .article .article_r .am .am_4 .remind dl dt { color: #ef5f3f; font: 20px/24px "Microsoft YaHei"; }

.main .article .article_r .am .am_4 .remind dl dd { padding-top: 10px; font: 16px/24px "Microsoft YaHei"; color: #333; }

.main .article .article_r .am .am_5 { border: 1px solid #ddd; padding: 10px 20px 20px; margin-top: 10px; }

.main .article .article_r .am .am_5 h1 { color: #e53; border-bottom: 1px solid #ddd; }

.main .article .article_r .am .am_5 .zx { padding: 0 5px 30px 15px; border-bottom: 1px dashed #ccc; }

.main .article .article_r .am .am_5 .zx .zx_net { margin-top: 13px; color: #999; }

.main .article .article_r .am .am_5 .zx .zx_ask { margin-top: 13px; color: #666; }

.main .article .article_r .am .am_5 .zx .zx_replay { margin-top: 13px; color: #e53; }

.main .article .article_r .am .am_5 .zx .zx_replay span { width: 820px; vertical-align: top; display: inline-block; float: right; }
