@charset "UTF-8";
.header { width: 100%; border-bottom: 1px solid #DDDDDD; }

.header .hl li { float: left; }

.header .hl li:nth-child(1) a { border-bottom: 2px solid #FF6655; }

.header .hl li a { display: block; height: 36px; margin-right: 20px; padding: 12px 0; box-sizing: border-box; font-size: 14px; line-height: 12px; color: #000000; }

.header .hl li a:hover { text-decoration: underline; color: #FF6655; }

.header .hr li { float: left; padding: 0 13px; margin: 10px 0 0; font-size: 14px; height: 16px; border-left: 1px solid #999999; line-height: 16px; position: relative; z-index: 12; }

.header .hr li.login_first { border-left: 0 none; width: 120px; text-align: center; height: 24px; }

.header .hr li.login_first .username { color: #FF6655; }

.header .hr li.login_first em { float: right; width: 9px; height: 5px; background: url("./img/toolbar.png") no-repeat -19px -37px; margin: 5px 0 0 5px; }

.header .hr li.login_first:hover { border-bottom: 1px solid #fff; }

.header .hr li.login_first:hover .indencity { display: block; }

.header .hr li.login_first:hover em { background-position: -40px -37px; }

.header .hr li.login_second { border-left: 0 none; }

.header .hr li.first { border-left: 0 none; }

.header .hr li.none { display: none; }

.header .hr li.current { width: 54px; padding: 9px 13px 0; height: 25px; border: 1px solid #ddd; margin: 0; border-bottom: 1px solid #fff; margin-right: -1px; top: 1px; line-height: 15px; }

.header .hr li a { color: #000000; }

.header .hr li a:hover { text-decoration: underline; color: #FF6655; }

.header .hr li i { display: block; width: 20px; height: 16px; float: left; background: url("./img/toolbar.png"); }

.header .hr li div { position: absolute; top: 35px; width: 120px; height: 120px; border: 1px solid #ddd; border-top: 1px solid #fff; left: -41px; padding-top: 15px; z-index: 1005; background-color: white; display: none; }

.header .hr li div img { margin: 0 auto; }

.header .hr li div.indencity { left: 17px; height: 120px; padding: 0; top: 26px; }

.header .hr li div.indencity dd { height: 40px; line-height: 40px; }

.header .hr li div.indencity dd:hover { background: #ccc; }

.header .hr li div.ewm3 { height: 140px; width: 240px; left: -153px; }

.header .hr li div.ewm3 img { margin-left: 10px; float: left; padding-right: 10px; }

.header .hr li div.ewm3 .p2 { color: #FF6655; line-height: 18px; font-size: 12px; padding-top: 5px; }

.header .hr li div.ewm3 a { display: block; height: 30px; width: 100px; float: left; border-radius: 5px; margin-top: 3px; background: url("./img/foot.png"); }

.header .hr li div.ewm3 a.ip { background-position: -280px -62px; }

.header .hr li div.ewm3 a.ad { background-position: -393px -62px; }

.header .hr li div.ewm3 a.ip:hover { background-position: -280px -97px; }

.header .hr li div.ewm3 a.ad:hover { background-position: -393px -97px; }

.header1 { width: 100%; padding: 12px 0; }

.header1 .container { position: relative; }

.header1 .app { margin-top: 10px; }

.header1 .search { float: left; padding-top: 23px; padding-left: 75px; }

.header1 .search input { width: 500px; height: 32px; border: 2px solid #FF6655; outline: none; float: left; padding-left: 10px; }

.header1 .search button { height: 38px; background: #FF6655; width: 90px; border: 2px solid #FF6655; float: left; color: white; font-size: 20px; outline: none; cursor: pointer; }

.header1 .h_search { position: absolute; left: 255px; top: 70px; font-size: 12px; color: #666666; }

.header1 .h_search a { margin: 0 3px; color: #666666; font-size: 12px; }

.header1 .h_search a:hover { color: #FF6655; text-decoration: underline; }

.nav { width: 100%; background-color: #FF6655; }

.nav li { float: left; position: relative; }

.nav li > a { display: block; height: 44px; font-size: 18px; width: 90px; color: #fff; line-height: 44px; text-align: center; border-left: 1px solid #E35342; }

.nav li > a.nav_first { background-color: #EE5544; }

.nav li > a.nav_last_second { width: 99px; padding: 0 18px; }

.nav li > a.nav_last { width: 99px; padding: 0 18px; border-right: 1px solid #E35342; }

.nav li > a.nav_last em { background-position: -220px -58px; }

.nav li > a.a_hover { background-color: #EE5544; }

.nav li > a i { display: inline-block; width: 9px; height: 5px; vertical-align: middle; background: url("img/icon.png") no-repeat -143px 0; margin-left: 5px; }

.nav li > a i.up { background-position: -143px -9px; }

.nav li > a em { display: inline-block; vertical-align: middle; width: 22px; height: 18px; background: url("img/icon.png") no-repeat -220px -33px; margin-right: 5px; }

.nav li .nav_list { position: absolute; top: 44px; left: -1px; width: 670px; border: 1px solid red; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); background: #fff; z-index: 99; padding: 10px 0 15px 20px; display: none; }

.nav li .nav_list .nav_list_left { float: left; margin: 10px 0; border-right: 1px dashed #bbb; }

.nav li .nav_list .nav_list_left .nav_list_body.second { padding-top: 15px; }

.nav li .nav_list .nav_list_left .nav_list_body dl { width: 230px; float: left; }

.nav li .nav_list .nav_list_left .nav_list_body dl dt a { font-size: 16px; color: #FF6655; }

.nav li .nav_list .nav_list_left .nav_list_body dl dt a:hover { text-decoration: underline; }

.nav li .nav_list .nav_list_left .nav_list_body dl dd a { float: left; margin: 9px 15px 0 0; font: 14px/16px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif; white-space: norwap; color: #000; }

.nav li .nav_list .nav_list_left .nav_list_body dl dd a:hover { text-decoration: underline; color: #FF6655; }

.nav li .nav_list .nav_list_right { float: left; width: 205px; }

.nav li .nav_list .nav_list_right img { margin: 0 auto; }

.nav li .nav_list .nav_list_right p:nth-child(2) { text-align: center; padding-top: 12px; }

.nav li .nav_list .nav_list_right p:nth-child(2) a { font-size: 16px; color: #000; }

.nav li .nav_list .nav_list_right p:nth-child(2) a:hover { color: #FF6655; text-decoration: underline; }

.nav li .nav_list .nav_list_right p:nth-child(3) { text-align: center; padding-top: 5px; font-size: 12px; color: #ccc; }

.nav .wep a { display: block; height: 44px; font-size: 18px; width: 99px; color: #fff; line-height: 44px; text-align: center; padding: 0 18px; border-left: 1px solid #E35342; border: 1px solid #E35342; }

.nav .wep a.a_hover { background-color: #EE5544; }

.nav .wep a em { display: inline-block; vertical-align: middle; width: 22px; height: 18px; background: url("img/icon.png") no-repeat 6px 0; margin-right: 2px; }

.banner { width: 100%; }

.banner .container .ban_right { width: 270px; position: absolute; left: auto; top: 0; right: 0; z-index: 22; margin-top: 10px; }

.banner .container .ban_right dd a { display: block; height: 89px; background: #fff; padding-left: 65px; margin-bottom: 1px; position: relative; }

.banner .container .ban_right dd a:hover p:nth-child(2) { color: #FF6655; }

.banner .container .ban_right dd a i { position: absolute; display: block; width: 37px; height: 25px; left: 15px; top: 27px; background: url("img/icon.png") no-repeat; }

.banner .container .ban_right dd a p:nth-child(1) { color: #FF6655; font-size: 23px; padding-top: 15px; }

.banner .container .ban_right dd a p:nth-child(2) { color: #666666; font: 14px/14px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif,tahoma,arial,sans-serif; padding-top: 10px; }

.article { width: 100%; background-color: #F3F3F3; }

.article .art_show { width: 229px; border-left: 1px solid #ddd; float: left; }

.article .art_show a { display: block; height: 130px; padding-left: 15px; }

.article .art_show a:hover ul li:nth-child(1) { color: #FF6655; }

.article .art_show a ul { float: left; }

.article .art_show a ul li:nth-child(1) { padding-top: 45px; color: #999; font: 14px/16px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif; }

.article .art_show a ul li:nth-child(2) { padding-top: 15px; color: #FF6655; font: 18px/20px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif; }

.article .art_show a .imgshow { float: left; width: 105px; }

.article .art_show a .imgshow img { margin-top: 25px; margin-left: 10px; }

.article .art_right { float: left; width: 253px; height: 130px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; padding-left: 15px; }

.article .art_right p { font: 18px/18px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif; color: #666; padding-top: 15px; }

.article .art_right a { display: block; color: #333; padding-top: 15px; }

.article .art_right a:hover { color: #FF6655; }

.rightside { width: 48px; position: fixed; right: 10px; bottom: 10px; }

.rightside a { display: block; height: 48px; margin-top: 1px; background: url("../img/rightsidepng.png") no-repeat; }

.rightside a.r_dog { background-position: 0 0; }

.rightside a.r_dog:hover { background-position: -52px 0; }

.rightside a.r_cat { background-position: 0 -49px; }

.rightside a.r_cat:hover { background-position: -52px -49px; }

.rightside a.r_small { background-position: 0 -98px; }

.rightside a.r_small:hover { background-position: -52px -98px; }

.rightside a.r_water { background-position: 0 -147px; }

.rightside a.r_water:hover { background-position: -52px -147px; }

.rightside a.r_reptile { background-position: 0 -245px; }

.rightside a.r_reptile:hover { background-position: -52px -245px; }

.rightside a.gotop { background-position: 0 -196px; display: none; }

.rightside a.gotop:hover { background-position: -52px -196px; }

.rightside a.gotop.showtop { display: block; }

.main { width: 100%; }

.main .cw_body { margin-top: 20px; }

.main .cw_body h2 { height: 46px; color: #FF6655; font-weight: normal; font: 40px/44px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif; line-height: 44px; padding-left: 63px; position: relative; }

.main .cw_body h2 i { display: block; height: 46px; width: 50px; position: absolute; top: 0; left: 0; background: url("../img/common.png") no-repeat; }

.main .cw_body .cw_top { border: 1px solid #e6e6e6; margin-top: 10px; }

.main .cw_body .cw_top .cw_top_left { float: left; height: 360px; width: 360px; margin: 14px; }

.main .cw_body .cw_top .cw_top_left.xcarousel .page { position: absolute; left: 50%; bottom: 20px; transform: translate(-50%, 0); }

.main .cw_body .cw_top .cw_top_left.xcarousel .page span { display: inline-block; width: 10px; height: 10px; overflow: hidden; background: #ccc; border-radius: 50%; margin: 0 3px; text-indent: -1000px; }

.main .cw_body .cw_top .cw_top_left.xcarousel .page span.active { background: #FF6655; }

.main .cw_body .cw_top .cw_top_right { float: left; height: 388px; border-left: 1px solid #e6e6e6; width: 798px; }

.main .cw_body .cw_top .cw_top_right .right_top h3 a { color: #FF6655; font: 16px/16px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif; }

.main .cw_body .cw_top .cw_top_right .right_top h3 a:hover { text-decoration: underline; }

.main .cw_body .cw_top .cw_top_right .right_top .yongping { padding: 10px 0 10px 10px; }

.main .cw_body .cw_top .cw_top_right .right_top .yongping .dogul li, .main .cw_body .cw_top .cw_top_right .right_top .yongping .catul li, .main .cw_body .cw_top .cw_top_right .right_top .yongping .smallul li, .main .cw_body .cw_top .cw_top_right .right_top .yongping .waterul li, .main .cw_body .cw_top .cw_top_right .right_top .yongping .paul li { float: left; height: 195px; border-right: 1px solid #e6e6e6; padding: 0 8px; }

.main .cw_body .cw_top .cw_top_right .right_top .yongping .dogul li:last-child, .main .cw_body .cw_top .cw_top_right .right_top .yongping .catul li:last-child, .main .cw_body .cw_top .cw_top_right .right_top .yongping .smallul li:last-child, .main .cw_body .cw_top .cw_top_right .right_top .yongping .waterul li:last-child, .main .cw_body .cw_top .cw_top_right .right_top .yongping .paul li:last-child { border-right: 0 none; }

.main .cw_body .cw_top .cw_top_right .right_top .yongping .dogul li:hover .p1, .main .cw_body .cw_top .cw_top_right .right_top .yongping .catul li:hover .p1, .main .cw_body .cw_top .cw_top_right .right_top .yongping .smallul li:hover .p1, .main .cw_body .cw_top .cw_top_right .right_top .yongping .waterul li:hover .p1, .main .cw_body .cw_top .cw_top_right .right_top .yongping .paul li:hover .p1 { color: #FF6655; }

.main .cw_body .cw_top .cw_top_right .right_top .yongping .dogul li a, .main .cw_body .cw_top .cw_top_right .right_top .yongping .catul li a, .main .cw_body .cw_top .cw_top_right .right_top .yongping .smallul li a, .main .cw_body .cw_top .cw_top_right .right_top .yongping .waterul li a, .main .cw_body .cw_top .cw_top_right .right_top .yongping .paul li a { width: 180px; }

.main .cw_body .cw_top .cw_top_right .right_top .yongping .dogul li a img, .main .cw_body .cw_top .cw_top_right .right_top .yongping .catul li a img, .main .cw_body .cw_top .cw_top_right .right_top .yongping .smallul li a img, .main .cw_body .cw_top .cw_top_right .right_top .yongping .waterul li a img, .main .cw_body .cw_top .cw_top_right .right_top .yongping .paul li a img { margin-top: 10px; }

.main .cw_body .cw_top .cw_top_right .right_top .yongping .dogul li p, .main .cw_body .cw_top .cw_top_right .right_top .yongping .catul li p, .main .cw_body .cw_top .cw_top_right .right_top .yongping .smallul li p, .main .cw_body .cw_top .cw_top_right .right_top .yongping .waterul li p, .main .cw_body .cw_top .cw_top_right .right_top .yongping .paul li p { text-align: center; }

.main .cw_body .cw_top .cw_top_right .right_top .yongping .dogul li p.p1, .main .cw_body .cw_top .cw_top_right .right_top .yongping .catul li p.p1, .main .cw_body .cw_top .cw_top_right .right_top .yongping .smallul li p.p1, .main .cw_body .cw_top .cw_top_right .right_top .yongping .waterul li p.p1, .main .cw_body .cw_top .cw_top_right .right_top .yongping .paul li p.p1 { font: 16px/18px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif; color: #333; line-height: 30px; }

.main .cw_body .cw_top .cw_top_right .right_top .yongping .dogul li p.p2, .main .cw_body .cw_top .cw_top_right .right_top .yongping .catul li p.p2, .main .cw_body .cw_top .cw_top_right .right_top .yongping .smallul li p.p2, .main .cw_body .cw_top .cw_top_right .right_top .yongping .waterul li p.p2, .main .cw_body .cw_top .cw_top_right .right_top .yongping .paul li p.p2 { color: #999; line-height: 20px; }

.main .cw_body .cw_top .cw_top_right .right_top .serve { border-top: 1px solid #e6e6e6; }

.main .cw_body .cw_top .cw_top_right .right_top .serve h3 { padding: 10px 0 0 8px; }

.main .cw_body .cw_top .cw_top_right .right_top .serve .dogul1 li { float: left; }

.main .cw_body .cw_top .cw_top_right .right_top .serve .dogul1 li:nth-child(3) a { border-right: 0 none; }

.main .cw_body .cw_top .cw_top_right .right_top .serve .dogul1 li > a { display: block; height: 110px; width: 265px; border-right: 1px solid #e6e6e6; box-sizing: border-box; padding: 5px 15px 0 10px; }

.main .cw_body .cw_top .cw_top_right .right_top .serve .dogul1 li > a:hover .p1 { color: #FF6655; }

.main .cw_body .cw_top .cw_top_right .right_top .serve .dogul1 li > a img { float: left; margin-top: 15px; margin-right: 13px; }

.main .cw_body .cw_top .cw_top_right .right_top .serve .dogul1 li > a p.p1 { font: 20px/22px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif; color: #333; line-height: 36px; padding-top: 15px; }

.main .cw_body .cw_top .cw_top_right .right_top .serve .dogul1 li > a p.p2 { color: #999; line-height: 20px; }

.main .cw_body .cw_bottom { background-color: #F3F3F3; }

.main .cw_body .cw_bottom h3 a { color: #FF6655; font: 16px/16px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif; }

.main .cw_body .cw_bottom h3 a:hover { text-decoration: underline; }

.main .cw_body .cw_bottom .bottom_left { width: 361px; padding: 14px; padding-bottom: 17px; border-right: 1px solid #e6e6e6; }

.main .cw_body .cw_bottom .bottom_left .bl1 { height: 51px; margin-top: 15px; }

.main .cw_body .cw_bottom .bottom_left .bl1 img { width: 50px; height: 50px; float: left; margin-right: 15px; }

.main .cw_body .cw_bottom .bottom_left .bl1 .detail { display: block; font: 16px/18px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif; color: #333; line-height: 30px; }

.main .cw_body .cw_bottom .bottom_left .bl1 .detail:hover { color: #FF6655; text-decoration: underline; }

.main .cw_body .cw_bottom .bottom_left .bl1 p { display: block; text-overflow: ellipsis; color: #999; }

.main .cw_body .cw_bottom .bottom_right .baike { width: 571px; padding: 14px 0 14px 14px; }

.main .cw_body .cw_bottom .bottom_right .baike .baike_b { padding: 10px 38px; position: relative; }

.main .cw_body .cw_bottom .bottom_right .baike .baike_b span { position: absolute; display: block; width: 12px; height: 22px; left: 0; top: 50%; transform: translate(0 -50%); background: url("img/icon.png") no-repeat; cursor: pointer; }

.main .cw_body .cw_bottom .bottom_right .baike .baike_b span.btn_left { background-position: -226px 0; left: 5px; }

.main .cw_body .cw_bottom .bottom_right .baike .baike_b span.btn_right { background-position: -246px 0; left: auto; right: 5px; }

.main .cw_body .cw_bottom .bottom_right .baike .baike_b .baike_b_l { width: 495px; height: 100px; overflow: hidden; margin-top: 10px; }

.main .cw_body .cw_bottom .bottom_right .baike .baike_b .baike_b_l ul { width: 1485px; }

.main .cw_body .cw_bottom .bottom_right .baike .baike_b .baike_b_l ul li { width: 495px; float: left; }

.main .cw_body .cw_bottom .bottom_right .baike .baike_b .baike_b_l ul li img { width: 120px; height: 90px; float: right; border: 3px solid white; }

.main .cw_body .cw_bottom .bottom_right .baike .baike_b .baike_b_l ul li .detail { font-size: 16px; color: #333; text-overflow: ellipsis; }

.main .cw_body .cw_bottom .bottom_right .baike .baike_b .baike_b_l ul li .detail:hover { color: #FF6655; text-decoration: underline; }

.main .cw_body .cw_bottom .bottom_right .baike .baike_b .baike_b_l ul li p { color: #666; line-height: 20px; padding-top: 10px; }

.main .cw_body .cw_bottom .bottom_right .pingzhong { display: block; width: 200px; padding-left: 10px; }

.main .cw_body .cw_bottom .bottom_right .pingzhong:hover p.p1 { color: #FF6655; text-decoration: underline; }

.main .cw_body .cw_bottom .bottom_right .pingzhong a img { width: 150px; height: 150px; }

.main .cw_body .cw_bottom .bottom_right .pingzhong p.p1 { font-size: 16px; color: #333; text-align: center; }

.main .cw_body .cw_bottom .bottom_right .pingzhong p.p2 { color: #666666; text-align: center; line-height: 25px; }

.footer { margin-top: 30px; width: 100%; }

.footer .middle { width: 980px; margin: 0 auto; }

.footer .baozheng { padding: 12px 0; width: 100%; background-color: #FF6655; }

.footer .baozheng ul li { float: left; height: 95px; width: 195px; border-right: 1px dashed #FFB3AA; }

.footer .baozheng ul li:nth-child(2) i { background-position: -85px 0; }

.footer .baozheng ul li:nth-child(3) i { background-position: -170px 0; }

.footer .baozheng ul li:nth-child(4) i { background-position: -255px 0; }

.footer .baozheng ul li:nth-child(5) { border-right: 0 none; }

.footer .baozheng ul li:nth-child(5) i { background-position: -340px 0; }

.footer .baozheng ul li i { display: block; width: 56px; height: 42px; background: url("img/foot.png") no-repeat; margin: 0 auto; }

.footer .baozheng ul li p { font: 16px/18px "Microsoft YaHei","微软雅黑",tahoma,arial,sans-serif; color: #FFFFF4; text-align: center; padding-top: 15px; }

.footer .baozheng ul li span { display: block; text-align: center; color: white; padding-top: 6px; }

.footer .lianjie { width: 100%; background-color: #F3F3F3; padding-bottom: 20px; }

.footer .lianjie h4 { padding-top: 22px; color: #666; font-weight: bold; }

.footer .lianjie .tiaozhuan a { display: inline-block; padding: 12px 7px 0 0; color: #666; }

.footer .lianjie .tiaozhuan a:hover { text-decoration: underline; }

.footer .lianjie .erweima { margin-top: 20px; }

.footer .lianjie .erweima li { width: 355px; height: 99px; float: left; margin-right: 10px; border: 1px solid #DDDDDD; background: white; padding: 8px 0 8px 8px; box-sizing: border-box; }

.footer .lianjie .erweima li:nth-child(2) i { background-position: -92px -62px; }

.footer .lianjie .erweima li:nth-child(3) { width: 238px; margin: 0 none; }

.footer .lianjie .erweima li:nth-child(3) i { background-position: -183px -62px; }

.footer .lianjie .erweima li i { display: block; width: 80px; height: 80px; background: url("img/foot.png") no-repeat 0 -62px; float: left; }

.footer .lianjie .erweima li .ewm_r { float: left; padding-left: 8px; }

.footer .lianjie .erweima li .ewm_r p:first-child { color: #666; font-weight: bold; padding-top: 5px; }

.footer .lianjie .erweima li .ewm_r p:nth-child(2) { color: #666; line-height: 30px; }

.footer .lianjie .erweima li .ewm_r p:nth-child(2) span { color: #FF6655; font-weight: bold; }

.footer .lianjie .erweima li .ewm_r p:nth-child(3) { color: #666; }

.footer .lianjie .erweima li .ewm_r a { display: inline-block; width: 90px; height: 28px; background: url("img/foot.png") no-repeat -283px -62px; color: #666; }

.footer .lianjie .erweima li .ewm_r a.iphone_left:hover { background-position: -283px -97px; }

.footer .lianjie .erweima li .ewm_r a.android_right { background-position: -395px -62px; }

.footer .lianjie .erweima li .ewm_r a.android_right:hover { background-position: -395px -97px; }

.footer .lianjie .erweima li .ewm_r a.weibo { background: white; padding-top: 5px; }

.footer .lianjie .erweima li .ewm_r a.weibo:hover { color: #FF6655; }

.footer .lianjie .erweima li .ewm_r a.weibo em { float: right; width: 16px; height: 14px; background: url("img/foot.png") no-repeat -283px -128px; margin-right: 35px; margin-top: 3px; }

.footer .lianjie .erweima li .ewm_r a.guangzhu { display: block; background-position: -413px 0px; }

.footer .lianjie .erweima li .ewm_r a.guangzhu:hover { background-position: -413px -31px; }

.footer .footer_auto { background-color: white; }

.footer .footer_auto .middle1 { width: 625px; margin: 0 auto; height: 148px; }

.footer .footer_auto .middle1 .footer_ul1 { padding-top: 25px; }

.footer .footer_auto .middle1 .footer_ul1 li { float: left; border-right: 1px solid #ddd; padding: 0 8px; line-height: 13px; }

.footer .footer_auto .middle1 .footer_ul1 li:last-child { border-right: 0 none; }

.footer .footer_auto .middle1 .footer_ul1 li a { color: #333; }

.footer .footer_auto .middle1 .footer_ul1 li a:hover { text-decoration: underline; }

.footer .footer_auto .middle1 .footer_ul2 { padding-left: 15px; padding-top: 10px; }

.footer .footer_auto .middle1 .footer_ul2 li { float: left; text-align: center; padding: 0 10px; border-right: 1px solid #ddd; padding: 0 8px; line-height: 13px; }

.footer .footer_auto .middle1 .footer_ul2 li:last-child { border-right: 0 none; }

.footer .footer_auto .middle1 .footer_ul2 li a { color: #333; }

.footer .footer_auto .middle1 .footer_ul2 li a:hover { text-decoration: underline; }

.footer .footer_auto .middle1 .footer_ul2 li span { color: #999; }

.footer .footer_auto .middle1 p.copy { color: #666; line-height: 22px; text-align: center; padding-top: 5px; }

.footer .footer_auto .middle1 .footer_ul3 { padding: 10px 0 0 100px; }

.footer .footer_auto .middle1 .footer_ul3 li { float: left; margin-right: 10px; }

.footer .footer_auto .middle1 .footer_ul3 li a { display: block; width: 100px; height: 35px; }
