.header .toolbar { width: 100%; border-bottom: 1px solid #ddd; height: 36px; background-color: white; }

.header .toolbar .left .shoucang { padding-right: 15px; font-size: 14px; color: #666; }

.header .toolbar .left .shoucang em { display: inline-block; vertical-align: middle; width: 14px; height: 14px; background: url("../img/toolbar.png") no-repeat 0 0; margin-right: 4px; line-height: 36px; }

.header .toolbar .left .shoucang:hover { color: #FF6655; }

.header .toolbar .left .market { padding: 0 10px; color: #FF6655; font-weight: bold; position: relative; display: inline-block; height: 36px; line-height: 36px; font-size: 14px; }

.header .toolbar .left .market em, .header .toolbar .left .market i { display: inline-block; vertical-align: middle; width: 9px; height: 15px; background: url("../img/toolbar.png") no-repeat -31px 0; margin-right: 4px; }

.header .toolbar .left .market i { width: 7px; height: 4px; background-position: 0 -61px; margin-left: 15px; }

.header .toolbar .left .market .region { width: 450px; border: 1px solid #ccc; position: absolute; top: 36px; left: -1px; line-height: 32px; background: white; display: none; z-index: 99; }

.header .toolbar .left .market .region.none { display: block; }

.header .toolbar .left .market .region .check { font-weight: normal; padding-top: 10px; border-bottom: 1px solid #ddd; }

.header .toolbar .left .market .region .check:nth-child(4) { border-bottom: 0 none; }

.header .toolbar .left .market .region .check dt { float: left; color: #bbb; padding-left: 15px; }

.header .toolbar .left .market .region .check dd { float: left; margin-right: 30px; padding-bottom: 5px; }

.header .toolbar .left .market .region .check dd a { padding: 0 5px; color: #666; }

.header .toolbar .left .market .region .check dd a:hover { color: #FF6655; }

.header .toolbar .left .market .region .check dd a.shanghai { background: #FF6655; color: white; font-weight: bold; }

.header .toolbar .left .market .region .check dd.six { padding-left: 85px; }

.header .toolbar .right ul .tr { float: left; padding: 0 10px; margin: 10px 0; line-height: 16px; border-right: 1px solid #ddd; position: relative; }

.header .toolbar .right ul .tr.home { border-right: 1px solid #fff; }

.header .toolbar .right ul .tr.home img { float: left; padding-right: 10px; padding-top: 2px; }

.header .toolbar .right ul .tr.show { height: 36px; margin: 0 0 0 -1px; border: 1px solid #ddd; line-height: 36px; border-bottom: 1px solid #fff; z-index: 99; margin-top: -1px; }

.header .toolbar .right ul .tr .tel_show { position: absolute; top: 37px; right: -1px; width: 220px; border: 1px solid #ccc; background: #fff; border-top: 1px solid #fff; display: none; padding-right: 20px; padding-bottom: 10px; }

.header .toolbar .right ul .tr .tel_show img { margin-left: 10px; float: left; padding-right: 10px; }

.header .toolbar .right ul .tr .tel_show p { font-size: 14px; color: #333; }

.header .toolbar .right ul .tr .tel_show .p2 { color: #FF6655; line-height: 18px; font-size: 14px; margin-top: -6px; }

.header .toolbar .right ul .tr .tel_show a { display: block; height: 30px; width: 100px; float: left; border-radius: 5px; margin-top: 1px; background: url("./img/foot.png"); }

.header .toolbar .right ul .tr .tel_show a.ip { background-position: -280px -62px; }

.header .toolbar .right ul .tr .tel_show a.ad { background-position: -393px -62px; }

.header .toolbar .right ul .tr .tel_show a.ip:hover { background-position: -280px -97px; }

.header .toolbar .right ul .tr .tel_show a.ad:hover { background-position: -393px -97px; }

.header .toolbar .right ul .tr .gz_show { position: absolute; top: 37px; right: -1px; width: 201px; border: 1px solid #ccc; background: #fff; border-top: 1px solid #fff; display: none; }

.header .toolbar .right ul .tr .gz_show div { width: 90px; float: left; padding-left: 10px; }

.header .toolbar .right ul .tr .gz_show div p { line-height: 22px; }

.header .toolbar .right ul .tr .gz_show div.gz1 { border-right: 1px dashed #ddd; }

.header .toolbar .right ul .tr .gz_show div.gz1 .boqii { color: #FF6655; font-size: 14px; }

.header .toolbar .right ul .tr .gz_show div.gz2 a { display: block; line-height: 22px; padding-bottom: 10px; color: #FF6655; }

.header .toolbar .right ul .tr .gz_show div.gz2 a:hover { text-decoration: underline; }

.header .toolbar .right ul .tr .gz_show div.gz2 a i { display: inline-block; height: 14px; width: 16px; vertical-align: middle; background: url("../css/img/foot.png") no-repeat -283px -128px; margin-left: 5px; }

.header .toolbar .right ul .tr .home_show { position: absolute; top: 37px; right: -1px; width: 101px; border: 1px solid #ccc; background: #fff; border-top: 1px solid #fff; display: none; }

.header .toolbar .right ul .tr .home_show ul li { margin: 0; line-height: 25px; border-bottom: 1px dashed #ddd; }

.header .toolbar .right ul .tr .home_show ul li:nth-child(1) i { background-position: -20px -45px; }

.header .toolbar .right ul .tr .home_show ul li:nth-child(2) i { background-position: -40px -45px; }

.header .toolbar .right ul .tr .home_show ul li:nth-child(3) { border-bottom: 0 none; }

.header .toolbar .right ul .tr .home_show ul li:nth-child(3) i { background-position: -60px -45px; }

.header .toolbar .right ul .tr .home_show ul li i { display: inline-block; width: 20px; height: 14px; vertical-align: middle; background: url("../img/toolbar.png") no-repeat; margin-left: 10px; }

.header .toolbar .right ul .tr .home_show ul li a { padding-left: 8px; }

.header .toolbar .right ul .tr a { color: #333; font-size: 14px; }

.header .toolbar .right ul .tr a:hover { color: #FF6655; text-decoration: underline; }

.header .header1 { width: 100%; padding: 12px 0; }

.header .header1 .container { position: relative; }

.header .header1 .app { margin-top: 10px; }

.header .header1 .search { float: left; padding-top: 35px; padding-left: 75px; }

.header .header1 .search input { width: 500px; height: 32px; border: 2px solid #FF6655; outline: none; float: left; padding-left: 10px; font-size: 16px; }

.header .header1 .search ::-webkit-input-placeholder { /* WebKit browsers */ color: #999; }

.header .header1 .search button { height: 38px; background: #FF6655; width: 90px; border: 2px solid #FF6655; float: left; color: white; font-size: 20px; outline: none; cursor: pointer; }

.header .header1 .h_search { position: absolute; left: 315px; top: 77px; font-size: 12px; color: #999999; }

.header .header1 .h_search a { margin: 0 3px; color: #999999; font-size: 12px; }

.header .header1 .h_search a:hover { color: #FF6655; text-decoration: underline; }

.header .header1 .adv2 { padding-top: 30px; }

.nav { width: 100%; background: #e53; }

.nav h3 { width: 174px; height: 26px; background: #c20; padding: 10px 8px 0px 10px; font-size: 16px; font-weight: normal; position: relative; }

.nav h3 a.fenlei { color: #fff; margin-top: 6px; display: block; float: left; line-height: 5px; }

.nav h3 i { display: block; width: 16px; height: 10px; background: url("../img/toolbar.png") no-repeat 0 -21px; float: right; margin-top: 4px; }

.nav h3 .menu { width: 190px; position: absolute; top: 36px; left: 0; border: 1px solid #c20; display: none; z-index: 500; background: white; }

.nav h3 .menu .menu_title { padding: 12px 12px 0 12px; }

.nav h3 .menu .menu_title span { width: 24px; height: 24px; background: url("../img/icon.png") no-repeat -195px -171px; float: left; }

.nav h3 .menu .menu_title em { width: 6px; height: 9px; background: url("../img/icon.png") no-repeat -195px -222px; vertical-align: middle; float: right; margin-top: 10px; }

.nav h3 .menu .menu_title a { color: #333; font: 16px/18px "Microsoft YaHei"; padding-left: 15px; }

.nav h3 .menu .menu_title a:hover { color: #FF6655; text-decoration: underline; }

.nav h3 .menu .menu_detail { padding: 7px 12px; border-bottom: 1px solid #ddd; }

.nav h3 .menu .menu_detail a { float: left; width: 45px; margin-right: 7px; color: #666; font: 14px/16px "Microsoft YaHei"; margin-bottom: 5px; }

.nav h3 .menu .menu_detail a:hover { color: #FF6655; text-decoration: underline; }

.nav h3 .menu .list_into { position: absolute; width: 612px; padding: 5px 20px; min-height: 440px; border: 2px solid #cf2d09; top: -1px; left: 189px; z-index: 199; display: none; z-index: 444; background: white; }

.nav h3 .menu .list_into dl { border-bottom: 1px dashed #ccc; padding: 6px 0; }

.nav h3 .menu .list_into dl dt { width: 120px; text-align: left; float: left; }

.nav h3 .menu .list_into dl dt a { font: bold 14px/16px "Microsoft YaHei"; color: #f50; display: block; line-height: 22px; }

.nav h3 .menu .list_into dl dt a:hover { text-decoration: underline; }

.nav h3 .menu .list_into dl dd { float: left; }

.nav h3 .menu .list_into dl dd a { color: #666; padding: 0 5px; font-size: 14px; border-left: 1px solid #ccc; display: block; height: 14px; line-height: 14px; margin-top: 5px; }

.nav h3 .menu .list_into dl dd a:hover { color: #FF6655; text-decoration: underline; }

.nav .nav_list li { float: left; }

.nav .nav_list li a { display: block; height: 36px; font-size: 16px; color: #fff; padding: 0 18px; line-height: 36px; }

.nav .nav_list li a:hover { background: #9a0000; }

.nav .car { height: 28px; color: #fff; padding: 8px 17px 0 10px; font-size: 16px; background: #c20; position: relative; }

.nav .car.hovershow { border: 2px solid #cc2200; background: #fef2ee; height: 24px; }

.nav .car:hover .buybuy { color: #ee5533; }

.nav .car:hover .car_qty { color: #ee5533; }

.nav .car:hover em { background-position: -60px -21px; margin-top: -2px; }

.nav .car em { display: inline-block; width: 20px; height: 19px; background: url("../img/toolbar.png") no-repeat -30px -21px; vertical-align: top; }

.nav .car .buybuy { font-size: 16px; color: #fff; padding-right: 20px; }

.nav .car .car_qty { display: inline-block; width: 22px; height: 20px; }

.nav .car .car_detail { width: 298px; border: 2px solid #cc2200; position: absolute; top: 33px; background: #fef2ee; z-index: 991; right: -2px; display: none; }

.nav .car .car_detail .xian { border-top: 5px solid #fef2ee; position: absolute; right: 1px; display: block; width: 145px; top: -5px; z-index: 120; }

.nav .car .car_detail .nogoods { height: 70px; line-height: 70px; text-align: center; color: #999; font-size: 14px; }

.nav .car .car_detail .yiadd { height: 45px; line-height: 45px; padding-left: 10px; color: #333; font-weight: normal; font-size: 16px; }

.nav .car .car_detail .car_list { background: #fff; border-left: 1px solid #cc2200; border-right: 1px solid #cc2200; max-height: 300px; overflow: auto; }

.nav .car .car_detail .car_list li { height: 80px; border-bottom: 1px dashed #ccc; color: #666; padding: 8px; }

.nav .car .car_detail .car_list li .goodsimg { float: left; border: 1px solid #ccc; margin-right: 7px; }

.nav .car .car_detail .car_list li .qtychange { width: 20px; height: 60px; float: left; border: 1px solid #ccc; margin-right: 7px; }

.nav .car .car_detail .car_list li .qtychange span { display: block; width: 20px; height: 20px; box-sizing: border-box; line-height: 20px; text-align: center; border-bottom: 1px solid #ccc; font-size: 10px; }

.nav .car .car_detail .car_list li .qtychange span:first-child { cursor: pointer; }

.nav .car .car_detail .car_list li .qtychange span:nth-child(3) { border-bottom: 0px; cursor: pointer; }

.nav .car .car_detail .car_list li .goods_name { width: 155px; float: left; }

.nav .car .car_detail .car_list li .goods_name a { font-size: 12px; color: #666; line-height: 20px; }

.nav .car .car_detail .car_list li .goods_name a:hover { color: #ee5533; }

.nav .car .car_detail .car_list li .goods_name .price { color: #ee5533; float: left; font-size: 12px; }

.nav .car .car_detail .car_list li .goods_name .delete { float: right; color: #999; font-size: 12px; border: 0 none; cursor: pointer; background: #fff; margin-top: -4px; outline: none; }

.nav .car .car_detail .car_list li .goods_name .delete:hover { text-decoration: underline; }

.nav .car .car_detail .buycar_bottom { height: 80px; padding: 0 27px; padding-bottom: 15px; }

.nav .car .car_detail .buycar_bottom p { color: #333; font-size: 12px; padding: 15px 0; text-align: right; }

.nav .car .car_detail .buycar_bottom p a { margin-right: 10px; }

.nav .car .car_detail .buycar_bottom p a .totalqty { color: #ee5533; }

.nav .car .car_detail .buycar_bottom p .totalprice { color: #ee5533; font-weight: bold; font-size: 16px; }

.nav .car .car_detail .buycar_bottom .clear { float: right; width: 110px; height: 25px; background: #ee5533; text-align: center; }

.nav .car .car_detail .buycar_bottom .clear:hover { background: #cc2200; }

.nav .car .car_detail .buycar_bottom .clear a { color: #fff; line-height: 25px; font-size: 14px; }

.rightside { position: fixed; background: #0c0c0c; height: 100%; width: 36px; top: 0; right: 0; left: auto; z-index: 999; opacity: 0.95; }

.rightside ul { padding-top: 130px; }

.rightside ul li { border-top: 1px solid #343434; padding: 5px 0; }

.rightside ul li:nth-child(6) { border-bottom: 1px solid #343434; }

.rightside ul li:last-child { margin-top: 160px; border-bottom: 1px solid #343434; }

.rightside ul li i { display: block; background: url("../img/sbar_ico.png") no-repeat; width: 36px; height: 36px; cursor: pointer; margin: 0 auto; font-style: normal; color: #fff; line-height: 36px; text-align: center; }

.rightside ul li i.sbar_my { background-position: 0 0; }

.rightside ul li i.sbar_cat { background-position: 0 -36px; }

.rightside ul li i.sbar_nub { background-position: 0 -249px; }

.rightside ul li i.sbar_asset { background-position: 0 -72px; }

.rightside ul li i.sbar_sc { background-position: 0 -108px; }

.rightside ul li i.sbar_zx { background-position: 0 -140px; }

.rightside ul li i.sbar_app { background-position: 0 -172px; }

.rightside ul li i.sbar_top { background-position: 0 -288px; }

.rightside ul li span { color: #999999; margin: 0 10px; display: block; text-align: center; }

.rightside ul li p { color: #999; text-align: center; }

.rightside ul li:hover { background: #ee5533; }

.rightside ul li:hover span { color: #fff; }

.rightside ul li:hover p { color: #fff; }

.rightside ul li:hover .sbar_cat { background-position: -36px -36px; }

.rightside ul li:hover .sbar_asset { background-position: -36px -72px; }

.rightside ul li:hover .sbar_sc { background-position: -36px -108px; }

.rightside ul li:hover .sbar_zx { background-position: -36px -140px; }

.rightside ul li:hover .sbar_app { background-position: -36px -172px; }

.rightside ul li:hover .sbar_top { background-position: -36px -288px; }

.section { width: 100%; background: #F3F3F3; height: 50px; box-sizing: border-box; }

.section .inx { padding-top: 15px; }

.section .inx a { color: #333; }

.section .inx a:hover { color: #e53; }

.section .inx i { font-style: normal; padding: 0 3px; color: #ccc; }

.section .result_search { padding-top: 12px; position: relative; }

.section .result_search input { padding-left: 5px; padding-top: 3px; outline: none; }

.section .result_search em { display: block; position: absolute; width: 15px; height: 15px; background: url("../img/list_icon.png") no-repeat -116px -7px; right: 5px; top: 18px; }

.section .clear { padding-top: 15px; padding-right: 8px; }

.section .clear a { color: #666; letter-spacing: 1px; }

.section .clear a:hover { color: #e53; cursor: pointer; }

.main { width: 100%; margin-top: 20px; }

.main .article_l { width: 190px; overflow: hidden; float: left; background: #F3F3F3; }

.main .article_l h1 { padding: 6px 10px; font-size: 16px; border: 1px solid #ddd; color: #333; font-weight: normal; }

.main .article_l h1 i { display: block; float: left; width: 26px; height: 26px; background: url("../img/list_icon.png") no-repeat -30px -34px; margin-right: 10px; }

.main .article_l .goodsshow { border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }

.main .article_l .goodsshow li { margin: 6px 10px; border-bottom: 1px solid #ddd; }

.main .article_l .goodsshow li:nth-child(1) { background: white; border-bottom: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 0px; margin: 0; }

.main .article_l .goodsshow li:nth-child(1) .top_detail { border-bottom: 0 none; padding: 8px 10px; border-right: 1px solid #fff; margin-right: -1px; display: block; }

.main .article_l .goodsshow li:nth-child(1) h2 { padding: 6px 11px; border-right: 1px solid #fff; margin-right: -1px; }

.main .article_l .goodsshow li:nth-child(1) h2 i { background-position: -60px -37px; }

.main .article_l .goodsshow li:nth-child(1) h2 i.down { background-position: -70px -37px; }

.main .article_l .goodsshow li:last-child { border-bottom: 0 none; }

.main .article_l .goodsshow li h2 { padding-bottom: 5px; }

.main .article_l .goodsshow li h2 a { color: #333; font-weight: normal; font-size: 14px; }

.main .article_l .goodsshow li h2 a:hover { color: #e53; }

.main .article_l .goodsshow li h2 i { float: right; width: 10px; height: 8px; background: url("../img/list_icon.png") no-repeat -70px -37px; margin-top: 12px; }

.main .article_l .goodsshow li h2 i.up { background-position: -60px -37px; }

.main .article_l .goodsshow li .top_detail { padding: 10px 0; display: none; }

.main .article_l .goodsshow li .top_detail.none { display: block; }

.main .article_l .goodsshow li .top_detail.show { display: none; }

.main .article_l .goodsshow li .top_detail a { display: inline-block; width: 70px; text-align: center; padding: 6px 0; margin-left: 8px; vertical-align: bottom; color: #333; }

.main .article_l .goodsshow li .top_detail a:hover { background: #ee5533; color: white; }

.main .article_r { margin-left: 20px; float: left; width: 980px; }

.main .article_r .filter_choose { border-bottom: 1px solid #ddd; position: relative; }

.main .article_r .filter_choose .filter_item { padding-top: 10px; border-top: 1px solid #ddd; }

.main .article_r .filter_choose .filter_item.item_first { border-top: 0 none; }

.main .article_r .filter_choose .filter_item .filter_title { padding-right: 50px; color: #aaa; padding-left: 5px; }

.main .article_r .filter_choose .filter_item .filter_list { width: 820px; }

.main .article_r .filter_choose .filter_item .filter_list a { display: block; float: left; width: 135px; margin-bottom: 10px; color: #0088dd; }

.main .article_r .filter_choose .filter_item .filter_list a:hover { color: #e53; }

.main .article_r .filter_choose .filter_item .filter_more span:hover { color: #e53; }

.main .article_r .filter_choose .filter_item .filter_more a { color: #333; }

.main .article_r .filter_choose .filter_item .filter_more a:hover { color: #e53; }

.main .article_r .filter_choose .filter_item .filter_more i { display: inline-block; vertical-align: middle; width: 9px; height: 10px; background: url("../img/list_icon.png") no-repeat -72px -24px; margin-left: 5px; }

.main .article_r .filter_choose .more_choose { position: absolute; padding: 3px 15px 0 15px; height: 21px; border: 1px solid #ddd; bottom: -26px; left: 50%; transform: translate(-50%, 0); border-top: 1px solid #fff; }

.main .article_r .filter_choose .more_choose a { color: #333; cursor: pointer; }

.main .article_r .filter_choose .more_choose a:hover { color: #e53; }

.main .article_r .filter_choose .more_choose a i { display: inline-block; width: 9px; height: 10px; background: url("../img/list_icon.png") no-repeat -72px -24px; vertical-align: middle; margin-left: 4px; }

.main .article_r .filter_choose .less_choose { position: absolute; padding: 3px 15px 0 15px; height: 21px; border: 1px solid #ddd; bottom: -26px; left: 50%; transform: translate(-50%, 0); border-top: 1px solid #fff; display: none; }

.main .article_r .filter_choose .less_choose a { color: #333; cursor: pointer; }

.main .article_r .filter_choose .less_choose a:hover { color: #e53; }

.main .article_r .filter_choose .less_choose a i { display: inline-block; width: 9px; height: 10px; background: url("../img/list_icon.png") no-repeat -61px -25px; vertical-align: middle; margin-left: 7px; }

.main .article_r .goodslist { margin-top: 35px; }

.main .article_r .goodslist .sort { background: #F3F3F3; height: 24px; padding: 6px; color: #333; }

.main .article_r .goodslist .sort .sort_left h3 { float: left; color: #333; font-weight: normal; padding: 0 8px; font-size: 12px; line-height: 20px; }

.main .article_r .goodslist .sort .sort_left ul li { float: left; padding: 3px 8px; background: white; margin-right: 5px; padding-left: 12px; cursor: pointer; }

.main .article_r .goodslist .sort .sort_left ul li.active { background: #ee5533; }

.main .article_r .goodslist .sort .sort_left ul li a { color: #333; font-size: 12px; }

.main .article_r .goodslist .sort .sort_left ul li i { display: block; width: 11px; height: 14px; background: url("../img/list_icon.png") no-repeat -31px -6px; float: right; margin-left: 2px; margin-top: 2px; }

.main .article_r .goodslist .sort .sort_left ul li i.updown { width: 12px; height: 14px; background-position: -10px -6px; }

.main .article_r .goodslist .sort .sort_left input { margin-left: 20px; margin-top: 7px; }

.main .article_r .goodslist .sort .sort_right div { float: left; }

.main .article_r .goodslist .sort .sort_right div.totalgoods { color: #aaa; padding: 5px 15px 0 7px; }

.main .article_r .goodslist .sort .sort_right div.pageschoose { color: #333; padding: 5px 10px 0 3px; }

.main .article_r .goodslist .sort .sort_right div.pageschoose span:nth-child(1) { color: #ee5533; }

.main .article_r .goodslist .sort .sort_right div.choose_page a { display: inline-block; width: 24px; height: 24px; background: white; color: #ccc; border: 1px solid #e6e6e6; margin-left: 5px; text-align: center; line-height: 24px; cursor: pointer; font-weight: bold; }

.main .article_r .goodslist .sort .sort_right div.choose_page a.btn_left { color: #ccc; }

.main .article_r .goodslist .sort .sort_right div.choose_page a.btn_right { color: #333; }

.main .article_r .sale_goods ul li { float: left; width: 224px; margin: 15px 27px 15px 0; border: 3px solid #fff; box-sizing: border-box; padding: 10px 0 3px 4px; transition: border-color 0.5s; }

.main .article_r .sale_goods ul li:hover { border: 3px solid #ee5533; }

.main .article_r .sale_goods ul li:nth-child(4n) { margin-right: 0; }

.main .article_r .sale_goods ul li .price { font-size: 16px; color: #ee5533; font-weight: bold; }

.main .article_r .sale_goods ul li .price .yunfei { border: 1px solid #EE5533; color: #EE5533; padding: 1px; font-size: 12px; font-weight: normal; margin-left: 6px; }

.main .article_r .sale_goods ul li .title { height: 40px; line-height: 20px; margin-top: 10px; }

.main .article_r .sale_goods ul li .title a { color: #333; }

.main .article_r .sale_goods ul li .title a:hover { color: #ee5533; }

.main .article_r .sale_goods ul li .huodong { height: 18px; line-height: 22px; color: #ee5533; padding-bottom: 10px; overflow: hidden; }

.main .article_r .sale_goods ul li .saleqty { color: #999; }

.main .article_r .sale_goods ul li .pingjia { color: #333; margin-left: 20px; }

.main .article_r .sale_goods ul li .pingjia:hover span { text-decoration: underline; }

.main .article_r .sale_goods ul li .pingjia span { color: #ee5533; }

.main .article_r .sale_goods ul li .goods_bottom { margin-top: 13px; }

.main .article_r .sale_goods ul li .goods_bottom a { display: block; height: 30px; line-height: 30px; text-align: center; background: #f3f3f3; float: left; color: #333; padding: 0 19px; }

.main .article_r .sale_goods ul li .goods_bottom a.add_car { border-right: 1px solid #ddd; border-top: 1px solid #ddd; }

.main .article_r .sale_goods ul li .goods_bottom a.add_car:hover { background: #ee5533; cursor: pointer; }

.main .article_r .sale_goods ul li .goods_bottom a.add_car:hover span { color: #fff; }

.main .article_r .sale_goods ul li .goods_bottom a.add_car:hover i { background-position: -75px -6px; }

.main .article_r .sale_goods ul li .goods_bottom a.shoucang { border-top: 1px solid #ddd; }

.main .article_r .sale_goods ul li .goods_bottom a.shoucang:hover { background: #ee5533; }

.main .article_r .sale_goods ul li .goods_bottom a.shoucang:hover span { color: #fff; }

.main .article_r .sale_goods ul li .goods_bottom a.shoucang:hover i { background-position: -180px -7px; }

.main .article_r .sale_goods ul li .goods_bottom a.shoucang i { background-position: -204px -7px; }

.main .article_r .sale_goods ul li .goods_bottom a i { display: inline-block; width: 18px; height: 16px; background: url("../img/list_icon.png") no-repeat -50px -6px; vertical-align: middle; margin-right: 5px; }

.main .article_r .sale_goods .pageLoading { float: right; overflow: hidden; margin-top: 30px; }

.main .article_r .sale_goods .pageLoading .gofirst { float: left; }

.main .article_r .sale_goods .pageLoading .gofirst span { display: block; height: 36px; width: 36px; float: left; text-align: center; line-height: 36px; border: 1px solid #ccc; color: #333; margin-right: 5px; font-size: 14px; cursor: pointer; }

.main .article_r .sale_goods .pageLoading .gofirst span.previous { width: 80px; }

.main .article_r .sale_goods .pageLoading .page { overflow: hidden; float: left; }

.main .article_r .sale_goods .pageLoading .page .load { display: block; height: 36px; width: 36px; float: left; text-align: center; line-height: 36px; border: 1px solid #ccc; color: #333; margin-right: 5px; font-size: 14px; cursor: pointer; }

.main .article_r .sale_goods .pageLoading .page .load:hover { border: 1px solid #ee5533; }

.main .article_r .sale_goods .pageLoading .page .load.sure { background: #ee5533; }

.main .article_r .sale_goods .pageLoading .loading { float: left; height: 36px; }

.main .article_r .sale_goods .pageLoading .loading span { float: left; color: #333; line-height: 36px; text-align: center; margin-right: 5px; font-size: 14px; }

.main .article_r .sale_goods .pageLoading .loading span.nextpage { width: 80px; border: 1px solid #ccc; cursor: pointer; }

.main .article_r .sale_goods .pageLoading .loading span.lastpage { width: 40px; border: 1px solid #ccc; cursor: pointer; }

.main .article_r .sale_goods .pageLoading .loading span.totalpage1 { margin-left: 40px; margin-right: 20px; }

.main .article_r .sale_goods .pageLoading .loading span.totalpage1 em { font-style: normal; }

.main .article_r .sale_goods .pageLoading .loading span .writepage { width: 36px; border: 1px solid #ccc; height: 36px; margin: 0 10px 0 10px; outline: none; padding: 0; }

.main .article_r .sale_goods .pageLoading .loading span.btn { width: 45px; height: 36px; border: 1px solid #ccc; cursor: pointer; }

.main { width: 100%; }
